
@*
    QueryAdded Successfully.
    Display's Query Id
*@

<h3> Query Added Successfully </h3>

<p>Please note <b>Query Id : @ViewData["AlertMsg"]</b> </p>
<i>Note: </i> Use the Query Id to find the Status of the Query.

<p>
    <a asp-controller="customer" asp-action="Index"><i class="glyphicon glyphicon-arrow-left btn btn-info" title="Back"> Back</i></a>
</p>