@model CustomerQueryWebAPI.ViewModels.QueryMasterListModel

@{
    Layout = "/Views/Shared/_LayoutForModal.cshtml";
}

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>
    View with New Layout
</div>
